version: "3.9"
services:
  computer-use-demo:
    image: computer-use-demo:v2
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - AGENT_DB_HOST=host.docker.internal
      - AGENT_DB_PORT=3306
      - AGENT_DB_USER=root
      - AGENT_DB_PASSWORD=
      - AGENT_DB_NAME=multiai
    volumes:
      - ./computer_use_demo:/home/computeruse/computer_use_demo/
      - ../../../s3mount/files:/home/computeruse/files
      - ../../../s3mount/credentials:/home/computeruse/credentials
      - ../../../s3mount/tools:/home/computeruse/tools
      - ../../../s3mount/chat-tools:/home/computeruse/chat-tools
      - ~/.anthropic:/home/computeruse/.anthropic
    ports:
      - "5900:5900"
      - "8501:8501"
      - "6080:6080"
      - "8080:8080"
      - "8000:8000"
